body{
    max-width: 100%;
    height: auto;
    background-image: url('../img/fondo4.webp');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en la página */
   

}

.principal3{
    height: 380px;
    max-width: 100%;    
    position: relative;

}

.estaciones{
    max-width: 33%;
    height: auto;
    object-fit: cover; 
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f3f1f1; 
    display: inline-block;
    font-size: 15px;
    text-align: center; /***** center *****/  /***** End center *****/
    
}

.card-img-top{
    width: 80%;
    height: 180%;
    top: auto;
    overflow: visible;
    object-fit: cover;
    mix-blend-mode: multiply;

}


.btn{
    width: 80%;
    display: inline-block;
    font-size: 15px;
    text-align: center; /***** center *****/  /***** End center *****/
    opacity: 0.8;
    margin-top: 10%;
    position: relative;
}

.card{
    top: 10%;
   left: 50px;
    position: relative;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #eee2e2; 
}

.card-img-overlay{
    padding: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #faf3f3; 
    position: relative;
    z-index: 1;
    object-fit: cover; 
}

.show, .toast{
    max-width: 100%;
    height: auto;
    left: 8%;
    top:60%;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #181818; 

}
