body{
    max-width: 100%;
    height: auto;
}

/*formato  del logo encabezado*/
.header{
    max-width: 120%;
    height: 100px;
    display: flex;
    z-index: 1;
    position: relative;
    margin: 5px;

}

/*formato  del logo UJaveriana*/
.d-block{
    max-width: 100%;
    height: 100px;
    position: absolute;
    overflow: visible;
    mix-blend-mode: multiply;
  

}


.header h1{
    max-width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #161515; 
    font-size: 60px;
    text-align: center;
}

.header h4{
    max-width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #111010;
    font-size: 20px;
    text-align: center;
}

/* @keyframes header {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
} */

.navbar{
    max-width: 100%;
    height: 50px;
    position: relative;
    background-color: blue;
 

}

.nav-item, a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;


}


.nav-item a{
    color: inherit;
}

.nav-item a:hover{
    color: inherit;
}

.nav-item a:visited{
    color: inherit;
}

.inicio{
    width: 50px;
    height: 40px;
    margin-inline-end: 0px;
    padding-bottom: 8px;

}

.principal1{
    height: 300px;
    max-width: 100%;    
}

.carousel{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.w-100{
    max-width: 100%;
    height: 300px;
}

.tema{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #141414; 
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.rutas{
    max-width: 30%;
    height: auto;
    object-fit: cover; 
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f3f1f1; 
    display: inline-block;
    font-size: 15px;
    text-align: center; /***** center *****/  /***** End center *****/
    
}

.card-img-top{
    width: 400px;
    height: 130px;
    margin-top: 20px;
    overflow: visible;
    object-fit: cover;
    mix-blend-mode: multiply;

}

.card{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #eee2e2; 
}

.card-body{
    margin-top: 10px;
    padding: 60%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #161515; 
    position: relative;
    z-index: 1;
    object-fit: cover; 
}

.btn{
    width:200px;
    position: relative;
    right: 15px;
}